.checkout_right_balance{
    background: white;
    padding: 2rem;
}
.checkout_right_balance span{
    line-height: 46px;
}
.checkout_right_balance input[type="text"]{
    border: 1px solid #f3f3f3;
    outline: none;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.checkout_right_balance button{
    background: #509b44;
    color: white;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin: 25px 0;
}

/*media*/
@media (max-width: 768px){
    .checkout_right_balance .checkout_right_balance_mb{
        margin-bottom: 24px;
    }
    .checkout_right_balance img{
        max-width: 80%;
    }
}