#question{
    color: #272630;
}
#question button, #question_mobile button{
    font-size: 14px;
    color: #272630;
}
#question button:hover, #question_mobile button:hover{
    text-decoration: none;
}
#question p {
    font-size: 14px;
    margin-top: 10px;
}
#question h5 {
    font-size: 18px;
    margin-top: 20px;
}
#question img, #question_mobile img{
    width: 80%;
    margin: 10px 0;
}
#question_mobile {
    display: none;
}
.card-header{
    padding: 0;
}
.card-header button{
    padding: 20px !important;
}
.card-header button[aria-expanded="true"]{
    border-left: 3px solid #509b44;
    font-weight: bold;
}

@media (max-width: 768px) {
    #question_web {
        display: none;
    }
    #question_mobile {
        display: block;
    }
}
@media (max-width: 425px) {
    #question_mobile img, #question_mobile iframe{
        width: 100%;
    }
}



