.for_business_row_wraper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.for_business_col{
    width: 50%;
}
.for_business_col.text-center{
    width: 50%;
    padding: 20px 5vw;
}
.for_business_col.text-center div img{
    width: 80px;
}
.for_business_col h3{
    font-size: 25px;
}
.for_business_col>img{
    width: 100%;
}
.for_business h4{
    font-size: 30px;
}
.for_business .link a{
    color: white;
    background: #519b42;
    padding: 13px 50px;
    border-radius: 20px;
}
.for_business .link a:hover{
    text-decoration: none;
}

/*media*/
@media (max-width: 768px) {
    .for_business_col, .for_business_col.text-center{
        width: 100%;
    }
    .for_business_col.text-center div img {
        /*width: 10vw;*/
    }
}