.login_user button{
    border: none;
    outline: none;
    color: #333333;
}
.login_user a{
    border-bottom: 1px solid #d2d2d2;
}
.login_user .dropdown-menu{
    box-shadow: 0 3px 10px #9e9e9e;
}







