.green-bg{
    background: #509b44;
    padding: 10px;
}
.how_it_work h5{
    font-size: 16px;
    color: white;
    text-align: left;
}
.how_it_work .carusel4-wrap{
    background: white;
    padding: 30px;
}
.how_it_work .carusel4-wrap h2{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
.how_it_work .carusel4-wrap h3{
    font-size: 40px;
}










