a[class="active"]{
    border-left: 3px solid #509b44;
    background: #ffc107;
}
/*_________________most_important__________________*/
/*#most_important{*/
/*    display: none;*/
/*}*/
.font_14{
    font-size: 14px;
}
.personal_area_gray{
    color: #7d8592;
    font-size: 14px;
}
.personal_area_active{
    border-left: 3px solid #509b44;
}
.personal_area h2{
    font-size: 36px;
    color: #272630;
    font-weight: bold;
}
.most_important{
    width: 100%;
}
.personal_area a, .personal_area a:hover{
    text-decoration: none;
}
/*personal_area_div*/
.personal_area_div{
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2;
    margin-left: 1rem;
    font-size: 16px;
    display: flex;
    color: #272630;
}
.most_important .personal_area_div .first_later{
    width: 23%;
    padding: 10px;
}
.most_important .first_later span{
    background: #509b44;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.most_important .most_important_name .personal_area_gray{
    font-size: 14px;
}
.most_important .most_important_name p{
    font-size: 16px;
}
.most_important .most_important_name{
    width: 70%;
    padding: 15px 10px;
}
.most_important .most_important_name p{
    margin: 0;
}
.personal_area_div i{
    padding-right: 15px;
}

/*right side*/
.bonus_cart{
    box-shadow: 0 0 10px grey;
    padding: 20px;
    margin-bottom: 2rem;
}
.bonus_cart p{
    font-size: 24px;
    margin-bottom: 0;
}
.bonus_cart .bonus_cart_carts,
.bonus_cart .bonus_cart_bonus,
.bonus_cart .bonus_cart_promocode
{
    color: white;
    background: #509b44;
    padding: 10px 30px;
    font-size: 14px;
}
.bonus_cart a:hover{
    text-decoration: none;
}
.text_right_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.most_important h3{
    font-weight: bold;
    font-size: 24px;
    color: #272630;
}
.see_all_cupon_link a{
    color: #509b44 !important;
    font-size: 16px;
}
.see_all_cupon_link a:hover{
    text-decoration: none;
}

/*cupon_cart*/
.cupon_cart{
    box-shadow: 0 0 10px grey;
    padding: 15px;
    margin-bottom: 20px;
}
.cupon_cart_acts{
    background: #509b44;
    color: white;
    padding: 5px;
}
.cupon_cart_btn{
    text-align: right;
}
.cupon_cart_btn a{
    color: #272630;
    padding: 10px 30px;
    box-shadow: 0 0 10px grey;
    margin: 5px;
}
.cupon_cart_btn a:hover{
    text-decoration: none;
}
/*cupon_cart_link*/
.cupon_cart_link img{
    width: 100%;
}
.cupon_cart_number{
    font-size: 14px;
}
.cupon_price{
    font-size: 14px;
    color: red;
}
.text-right_class{
    text-align: right;
}

/*_____________My cupons_________________*/
.my_cupon{
    width: 100%;
}
#my_cupon{
    color: #272630;
}
#my_cupon  h3, #cupons h3{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
#my_cupon .col-4{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#my_cupon .col-4 small{
    font-size: 10px;
}
#my_cupon button, #story button, #cupons button {
    font-size: 12px;
    border: none;
    outline: none;
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 0 5px 10px grey;
}
#my_cupon table{
    border: 3px solid white!important;
}
.table-bordered thead th{
    font-size: 14px;
}
.table-bordered tbody tr td:nth-of-type(1){
    font-size: 13px;
}
.table-bordered tbody tr td:nth-of-type(2),
.table-bordered tbody tr td:nth-of-type(3){
    font-size: 16px;
    padding-top: 1.2rem;
}
.table-bordered tbody tr td:nth-of-type(4){
    font-size: 13px;
}
.table-bordered tbody tr td:nth-of-type(5){
    font-size: 12px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    width: 20rem;
}
.active_cupon, .active_story, .active_cupons{
    background: #509b44;
    color: white;
}
.active:focus, .active:active{
    box-shadow: none;
}
#my_cupon .see_code button{
    background: #509b44;
    color: white;
    box-shadow: none;
}

/*my_cupon_current_div*/
#my_cupon_current_div{
    display: none;
}
#my_cupon_current_div a,
#my_cupon_used_div a,
#my_story_receipts_div a,
#my_story_cashback_div a,
#cupon_current_div a,
#cupon_used_div a{
    color: white;
    background: #509b44;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
}

/*my_cupon_expired_div*/
#my_cupon_expired_div{
    display: none;
}

/*my_cupon_used_div*/
#my_cupon_used_div{
    display: none;
}

/*________________story_________________*/
.story{
    width: 100%;
}
#story h3{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

#my_story_receipts_div,
#my_story_withdrawal_div,
#my_story_cashback_div,
#cupon_current_div,
#cupon_expired_div,
#cupon_used_div{
    display: none;
}

/*___________________personal_area___________________*/
.personal_area{
    width: 100%;
}
#personal_area h3, #password h3, #envelope h3, #promocode h3, #carts h3{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.bonus .personal_area_div .bonus_btn{
    color: white;
    background: #509b44;
    padding: 10px 30px;
    font-size: 14px;
}
#personal_area form{
    width: 60%;
}
#personal_area form label {
    margin-bottom: 0;
    color: #7d8693;
    font-size: 14px;
}
#personal_area form button{
    background: #509b44;
    color: white;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    padding: 8px;
}
.personal_area_bottom span{
    font-size: 14px;
    color: #7d8693;
}
.personal_area_bottom p{
    font-size: 16px;
    margin: 0;
}
.personal_area_bottom small{
    font-size: 12px;
    color: #7d8693;
}
/*__________________password__________________*/
.password{
    width: 100%;
}
#password form{
    width: 60%;
}
#password form button {
    background: #509b44;
    color: white;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    padding: 8px;
}

/*__________________envelope__________________*/
.envelope{
    width: 100%;
}
#envelope p{
    font-size: 16px;
    margin: 35px 0;
}
#envelope h4{
    font-size: 20px;
    font-weight: bold;
}
#envelope .form-check {
    padding-left: 2rem;
    /*margin-left: 1rem;*/
}
#envelope .form-group{
    margin: 1rem 0 2rem;
}
#envelope .form-group input{
    width: 20px;
    height: 20px;
}
#envelope .form-check-label {
    font-size: 16px;
}
/*hide defoult checkbox*/
#envelope input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#envelope .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
#envelope .form-check input:checked ~ .checkmark {
    background-color: #d0e2cf;
    border: 1px solid #509b44;
    border-radius: 3px;
}
#envelope .form-check input ~ .checkmark {
    background-color: #d0e2cf;
    border: 1px solid #509b44;
    border-radius: 3px;
}
#envelope .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#envelope .form-check input:checked ~ .checkmark:after {
    display: block;
}
#envelope .form-check .checkmark:after {
    left: 7px;
    top: 2px;
    width: 10px;
    height: 15px;
    border: solid #509b44;
    border-width: 0 3px 3px 0;
    transform: rotate(
            40deg
    );
}
#envelope form button {
    box-shadow: 0 0 10px gray;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    padding: 8px;
    border-radius: 0;
}
#envelope form .save{
    background: #509b44;
    color: white;
}
    /*__________________promocode__________________*/
.promocode{
    width: 100%;
}
#promocode .not_active .cupon_cart_acts {
    background: #c5c5c5;
}
#promocode .not_active .col-10 .personal_area_gray,
#promocode .not_active .col-10 p {
    color: #a2a2a2;
}

/*__________________bonus__________________*/
.bonus{
    width: 100%;
}

/*__________________cupons__________________*/
.cupons{
    width: 100%;
}

/*__________________cart__________________*/
.carts{
    width: 100%;
}
#carts form {
    width: 60%;
}
#carts form button {
    background: #509b44;
    color: white;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    padding: 8px;
}

/*personal area rewview*/
.personal_area_review{
    border: 1px solid #cacaca;
    padding: 25px 0;
    border-top: 3px solid #509b44;
    color: #272630;
    margin-bottom: 50px;
}
.personal_area_review img{
    width: 100%;
}
.personal_area_review h5{
    font-size: 16px;
}
.personal_area_review p{
    font-size: 14px;
}
.personal_area_review span{
    color: #adadad;
}



/*media*/
@media (max-width: 768px) {
    .most_important .first_later {
        width: 30%;
    }
    .cupon_cart_btn{
        text-align: left;
        margin: 10px 0;
    }
    .most_important .personal_area_div .first_later {
        width: 30%;
    }
    .bonus_cart .bonus_cart_bonus{
        padding: 10px 25px;
    }
    #personal_area form, #password form, #carts form {
        width: 100%;
    }
    .personal_area_review .text-right_class {
        text-align: left;
        margin: 10px 0;
    }
}
@media (max-width: 767px) {
    #most_important .bonus_cart div{
        width: 50%;
    }
    #envelope .form-group .form-check_mb{
        margin-bottom: 2rem;
    }
    #promocode .text-right_class {
        text-align: left;
        margin: 10px 0;
    }
}
@media (max-width: 425px) {
    .text-right_class{
        text-align: left;
        margin: 10px 0;
    }
    .cupon_cart_link{
        margin-bottom: 15px;
    }
    .personal_area_review h5{
        margin-top: 15px;
    }
}

@media (max-width: 376px) {
    .personal_area h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    #most_important .bonus_cart .text_right_btn, #most_important .bonus_cart div{
        width: 100%;
        justify-content: flex-start!important;
        margin-top: 10px;
    }
    #most_important .cupon_cart .col-12{
        text-align: left !important;
    }
    #most_important .cupon_cart .cupon_cart_link{
        margin-bottom: 10px;
    }
    #most_important h3 {
        font-size: 25px;
    }
}





