.gray_color{
    color: #7d8592;
}
.green_color{
    color: #519b44;
}


.product .carusel_sale {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: .2rem 1.5rem;
    color: white;
    font-size: 20px;
    background: #03a9f4;
}
.product .carusel_working{
    background: #512da8;
    font-size: 13px;
    color: white;
    padding: .5rem 3rem;
    position: absolute;
    right: 0;
    bottom: 1rem;
}
.product .more_information{
    color: #7d8592;
    text-align: center;
}
/*right side*/
.product .more_information p {
    font-size: 14px;
    margin-bottom: 0;
}
.product .more_information .fa{
    font-size: 20px !important;
    margin-bottom: .5rem;
}
.product .buy a {
    color: white;
    background-color: #519b44;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 20px;
    width: 100%;
    box-shadow: 0 0 10px grey;
    display: block;
}
.product .buy a:hover{
    text-decoration: none;
}
.product .heart_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
}
.product .heart_rating button{
    border: none;
    outline: none;
    color: #519b44;
    background: none;
}
.product .heart_rating p {
    font-size: 10px;
    margin-bottom: 0;
}
.product .price_cupon p {
    font-size: 16px;
}
.product .time_cupon small {
    font-size: 13px;
    color: #7d8592;
}
.product .time_limit i {
    color: #519b44;
    font-size: 20px;
}
.product .time_limit p {
    font-size: 14px;
    color: #7d8592;
    margin-bottom: 0;
}
.product .time_limit b {
    font-size: 16px;
    color: #272630;
    padding-left: 5px;
}
.product .website{
    color: #b4b4b4;
}
.product .website a{
    border: 1px solid #b4b4b4;
    text-decoration: none;
    background: none;
    padding: 5px 1rem;
    font-size: 18px;
}
.product .website .facebook{
    color: #3b5998;
}
.product .website .fa-odnoklassniki{
    color: #ed812b;
    font-weight: bold;
}
.product .website .fa-twitter{
    color: #00aced;
}
.product .website .fa-vk{
    color: #4c75a3;
}
.product .tags span{
    background: #f4f4f5;
    padding: .6rem 1.3rem;
    margin-right: 5px;
    box-shadow: 0 0 5px #d2d2d2;
}
.product .banners img{
    width: 100%;
}
/*product right side print carusel bottom*/
#product_right_aside_in_top{
    display: none;
}

/*about product*/
.product .about_product p{
    font-size: 16px;
    color: #272630;
}
.product .about_product b{
    font-size: 18px;
}
.product .about_product h3{
    font-size: 24px;
}
.about_product .nav_bar{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid gray;
    padding: 7px 0;
}
.about_product .nav_bar a{
    color: #272630;
    font-size: 20px;

    text-decoration: none;
    padding: .7rem 1.5rem;
    margin-right: 10px;
}
.about_product .nav_bar .nav_bar_active{
    background: #519b44;
    color: white;
    border-radius: 0;
}
/*review*/
#review{
    background: #f3f3f3;
    color: #333;
    font-size: 14px;
}
#review h3{
    font-size: 24px;
}
#review .Stars{
    --star-background: #ffc120;
}
#review .review_stars h2{
    font-size: 36px;
    font-weight: bold;
    color: #272630;
    padding-left: 15px;
}
#review .review_stars p{
    font-size: 14px;
    color: #272630;
}
#review .review_stars .select_wraper{
    text-align: right;
}
#review .review_stars select{
    width: 50%;
    padding: 8px;
    border: 1px solid #cacaca;
    background: none;
    margin-left: 10px;
    outline: none;
}
#review .review_user_data .user_name{
    font-size: 16px;
}
#review .review_user_data .star_massage{
    color: #a5a8ab;
}
#review .review_user_wraper .more{
    background: #7460da;
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 2px;
    color: white;
}
#review .review_user_wraper .review_stars_data span{
    color: #a5a8ab
}
#review a{
    text-decoration: none;
}
#review button{
    border: none;
    background: #519b44;
    color: white;
    padding: .5rem 6rem;
    outline: none;
}
.big_nav_bar{
    background: #519b44;
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}
.about_product .big_nav_bar a{
    color: white;
}
.product .about_product .nav_bar{
    padding: 0;
}
.about_product .big_nav_bar #nav_item_buy a{
    background: #facd33;
    color: #272630 !important;
    position: absolute;
    right: 0;
    height: 40px;
    margin-top: 7px;
    line-height: 20px;
}
#write_review_text{
    display: none;
    background: white;
    padding: 2rem;

}
#write_review_text p{
    font-weight: bold;
    font-size: 16px;
}
#write_review_text input, #write_review_text textarea{
    width: 100%;
    padding: 5px;
    outline: none;
    margin-bottom: 15px;
}
#write_review_text #send_review{
    width: 30%;
    background: #519b44;
    border: none;
    outline: none;
    color: white;
}
/*addess*/
#addess a:hover{
    text-decoration: none;
}

/*carusel_cart_wraper*/
.carusel_cart_wraper h4{
    font-size: 24px;
    color: #272630;
}
.carusel_cart_wraper .carusel_carts .slick-dots{
    top: -25px;
    text-align: right;
    height: 30px;
}
.carusel_cart_wraper .carusel_carts .slick-dots li{
    margin: 0;
}
.carusel_cart_wraper .carusel_carts .slick-dots li button:before{
    font-size: 10px;
}
.carusel_cart_wraper .carusel_carts .slick-dots li.slick-active button:before{
    color: #509b44;
}


/*inside cart*/
.carusel_cart_wraper .carusel_carts .slick-slide img{
    display: inline;
}

/*mouse hover stars review*/
#custom_div_btn:hover #customdiv {
    display: block;
}
#customdiv{
    border: 1px solid gray;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    position: absolute;
    z-index: 3;
    background: white;
    left: 12.5rem;
    top: -5rem;
    outline: none;
    display: none;
}
#customdiv h2{
    font-size: 36px;
    font-weight: bold;
}
#customdiv p{
    font-size: 14px;
}
#customdiv span{
    font-size: 16px;
    text-align: right;
}
.range_length{
    width: 120px;
    margin: 5px 15px;
}
#customdiv_btn{
    display: contents;
    cursor: pointer;
}

@media (max-width: 992px) {
    #product_right_aside {
        display: none;
    }
    #product_right_aside_in_top{
        display: block;
    }
    .cupon_wraper input[type=radio] {
        width: 30px!important;
        height: 30px!important;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .product .heart_rating {
        box-shadow: none;
        padding-left: 0;
        justify-content: left;
    }
    .product .heart_rating button {
        padding: 4px 20px;
        box-shadow: 0 0 10px grey;
    }
}
@media (max-width: 480px) {
    #review .review_stars .select_wraper {
        width: 100% !important;
        text-align: left;
    }
    #customdiv{
        left: 3.8rem;
    }
    .product .heart_rating{
        box-shadow: none;
    }
    #customdiv_btn .col-xs-3{
        width: 15%!important;
    }
    #customdiv_btn .col-xs-6{
        width: 50%!important;
        margin-left: 1rem;
    }
    .big_nav_bar{
        display: none;
    }
}
@media (max-width: 376px) {
    #customdiv{
        width: 220px;
        left: 5rem;
    }
    #customdiv input{
        display: none;
    }
    #customdiv span {
        padding-left: 30px;
    }
    .carusel_cart_wraper .carusel_carts .slick-dots {
        top: -15px;
    }
    .product .heart_rating button {
        padding: 4px 15px;
    }
    .cupon_wraper input[type=radio] {
        width: 35px!important;
        height: 35px!important;
        margin-top: 5px;
    }
}



/*product-more style*/
.cupon_wraper label{
    display: flex;
}
.cupon_wraper .cupon_info h4{
    font-size: 18px;
}
.cupon_wraper .cupon_info p, .cupon_wraper .cupon_info  h6{
    margin: 0;
}
.cupon_wraper .cupon_info small, .cupon_wraper .cupon_info  h6{
    font-size: 13px;
}
.cupon_wraper .cupon_info b{
    color: #509b44;
}
.cupon_wraper  input[type=radio] {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.cupon_wraper .cupon_info{
    margin-top: .5rem;
}
.cupon_wraper button{
    font-size: 15px;
    color: #b4b4b4;
    border: none;
    outline: none;
}











