/*1exanak*/
/*.banner-img{*/
/*    background: url("../images/Rectangle10.png");*/
/*    width: 500px;*/
/*    height: 530px;*/
/*    border-radius: 50%;*/
/*    border: 3px solid rgb(80, 156, 68);*/
/*    background-position: center top;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*2exanak*/
/*.banner-img {*/
/*    vertical-align: middle;*/
/*    width: 25rem;*/
/*    height: 25rem;*/
/*    border-radius: 50%;*/
/*    border: 5px solid green;*/
/*}*/

/*3exanak*/
/*.circle {*/
/*    background: rgba(15, 28, 63, 0.125);*/
/*    border-radius: 50%;*/
/*    display: block;*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    padding-top: 100%;*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

/*.circle::after {*/
/*    border-radius: inherit;*/
/*    box-shadow: inset 0 0 0 1px rgba(15, 28, 63, 0.25);*/
/*    content: "";*/
/*    height: 100%;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*.circle-fill {*/
/*    height: auto;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*@supports (object-fit: cover) {*/
/*    .circle-fill {*/
/*        height: 100%;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/

/*.container {*/
/*    max-width: 66vmin;*/
/*    width: 66%;*/
/*}*/


/*4example circle*/
.banner-circle {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgb(80, 156, 68);
}

.banner-circle img {
    width: 100%;
    height: auto;
}
/*4example rectangle*/
.banner-rectangle{
    border: 3px solid rgb(80, 156, 68);
}