/*4example rectangle*/
.banner-rectangle{
    border: 3px solid rgb(80, 156, 68);
}



/*Your review*/
.review_reting_wraper{

}
.review_reting_wraper .modal-body{
    padding: 2rem
}
.review_reting_wraper p{
    margin-bottom: 2.5rem;
}
.review_text{
    width: 60%;
    margin: 10px auto;
}
.review_number span{
    border: 1px solid #a2a2a2;
    padding: 15px 17px 5px;
    border-radius: 50%;
    margin: 3px;
}
.review_number span:hover{
    background: #e4e4e4;
}
.review_reting_wraper .review_reting_send{
    border: none;
    background: #519b44;
    color: white;
    padding: 0.5rem 2.5rem;
    outline: none;
    border-radius: 3px;
}


/*cupon_card*/
#cupon_card p{
    font-size: 20px;
}
#cupon_card small{
    color: #939393;
}
#cupon_card .container{
    background: #f3f3f3;
}
#cupon_card .cupon_card_logo{
    width: 190px;
}
#cupon_card i{
    font-size: 22px;
    color: #519b44;
}
#cupon_card .cupon_card_img{
    width: 100%;
}
#cupon_card .text-center{
    padding: 15px;
}
#cupon_card .text-center .bg-white{
    padding: 20px;
    box-shadow: 0 0 10px gray;
}
#cupon_card .qr_code{
    width: 60%;
}












